@model LTCAS.Models.login_user

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditLoginUser</title>
</head>
<body>
    <div>logoin user name: @Model.username
    </div>
</body>
</html>
