@model LTCAS.Models.login_user

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> Hello World!
    <br />Token= @ViewBag.Token
    </div>
</body>
</html>
