@model LTCAS.Models.login_users

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>
</head>
<body>
    <div class="container">
        <div class="label-info">TimeStamp:@ViewBag.TimeStamp</div>
        <div class="label-default">Cookie:@ViewBag.Token</div>
        <div>@Html.Raw(ViewBag.Browser)</div>
        <div class="navbar-link">@Html.ActionLink("Logout", "logout")</div>
        </div>
    
</body>
</html>
