
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>testError</title>
</head>
<body>
    <div>Cookie: @ViewBag.Cookie
    </div>
</body>
</html>
