
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>testConnection</title>
</head>
<body>
    <div>Connection String:@ViewBag.connstr<br />ErrorID:@ViewBag.ErrorID
    </div>
</body>
</html>
